/* Color Variables */
/* Button Variables */
/* Font Variables */
/* Color Variables */
/* Button Variables */
/* Font Variables */
.sitenav__search {
  width: 30%;
}
.sitenav__search .form-group {
  margin-bottom: 0px;
}

/* Color Variables */
/* Button Variables */
/* Font Variables */
.sitenav__login {
  margin-left: 20px;
}
.sitenav {
  background-color: #5AA2F0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.sitenav ~ .site-content {
  padding-top: 70px;
}
.sitenav__menu {
  padding: 10px 0;
}
.sitenav__logo {
  height: 100%;
  width: auto;
  margin-right: auto;
}
.sitenav__logo img {
  height: 100%;
  width: auto;
}
.sitenav__wrap {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 50px;
}
.sitenav__hamburger {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.2s;
  margin-right: 10px;
  cursor: pointer;
}
.sitenav__hamburger .feather {
  margin-right: 0px;
}
.sitenav__hamburger:hover {
  background-color: #2b88ec;
}
.sitenav__nav {
  margin-left: 20px;
  color: #ffffff;
  font-family: "Dosis-Bold";
  height: 100%;
  text-transform: capitalize;
}
.sitenav__links {
  height: 100%;
}
.sitenav__linklist {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 100%;
}
.sitenav__linkitem {
  padding: 0 20px;
  height: 100%;
}
.sitenav__linkitem a {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 100%;
}

@font-face {
  font-family: "Dosis-Medium";
  src: url("../assets/fonts/Dosis-Medium.eot");
  src: url("../assets/fonts/Dosis-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-Medium.woff2") format("woff2"), url("../assets/fonts/Dosis-Medium.woff") format("woff"), url("../assets/fonts/Dosis-Medium.ttf") format("truetype"), url("../assets/fonts/Dosis-Medium.svg#Dosis-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-ExtraBold";
  src: url("../assets/fonts/Dosis-ExtraBold.eot");
  src: url("../assets/fonts/Dosis-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Dosis-ExtraBold.woff") format("woff"), url("../assets/fonts/Dosis-ExtraBold.ttf") format("truetype"), url("../assets/fonts/Dosis-ExtraBold.svg#Dosis-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-Bold";
  src: url("../assets/fonts/Dosis-Bold.eot");
  src: url("../assets/fonts/Dosis-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-Bold.woff2") format("woff2"), url("../assets/fonts/Dosis-Bold.woff") format("woff"), url("../assets/fonts/Dosis-Bold.ttf") format("truetype"), url("../assets/fonts/Dosis-Bold.svg#Dosis-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-SemiBold";
  src: url("../assets/fonts/Dosis-SemiBold.eot");
  src: url("../assets/fonts/Dosis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-SemiBold.woff2") format("woff2"), url("../assets/fonts/Dosis-SemiBold.woff") format("woff"), url("../assets/fonts/Dosis-SemiBold.ttf") format("truetype"), url("../assets/fonts/Dosis-SemiBold.svg#Dosis-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-Light";
  src: url("../assets/fonts/Dosis-Light.eot");
  src: url("../assets/fonts/Dosis-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-Light.woff2") format("woff2"), url("../assets/fonts/Dosis-Light.woff") format("woff"), url("../assets/fonts/Dosis-Light.ttf") format("truetype"), url("../assets/fonts/Dosis-Light.svg#Dosis-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-Regular";
  src: url("../assets/fonts/Dosis-Regular.eot");
  src: url("../assets/fonts/Dosis-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-Regular.woff2") format("woff2"), url("../assets/fonts/Dosis-Regular.woff") format("woff"), url("../assets/fonts/Dosis-Regular.ttf") format("truetype"), url("../assets/fonts/Dosis-Regular.svg#Dosis-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-ExtraLight";
  src: url("../assets/fonts/Dosis-ExtraLight.eot");
  src: url("../assets/fonts/Dosis-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Dosis-ExtraLight.woff") format("woff"), url("../assets/fonts/Dosis-ExtraLight.ttf") format("truetype"), url("../assets/fonts/Dosis-ExtraLight.svg#Dosis-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
/* Color Variables */
/* Button Variables */
/* Font Variables */
.sitemap-list {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 40px;
}
.sitemap-item {
  text-transform: capitalize;
  padding: 0 5px;
}
.sitemap-item + .sitemap-item {
  border-left: 1px solid #5AA2F0;
}

/* Color Variables */
/* Button Variables */
/* Font Variables */
.form-control {
  background-color: #D4E2F3;
  border: 1px solid #D4E2F3;
  transition: 0.2s;
}
.form-control:focus {
  border: 1px solid #acc7e8;
  box-shadow: none;
  background-color: #D4E2F3;
}

.custom-form {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}
.custom-form label {
  font-family: "Dosis-SemiBold";
  font-size: 14px;
}
.custom-form .forgot-pwd {
  font-family: "Dosis-SemiBold";
  color: #E9922C;
  font-size: 14px;
  text-transform: capitalize;
}

.form-login {
  background-color: #ffffff;
  width: 30%;
  margin: 0 auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.form-login .btn-login {
  width: 100%;
}
.form-login .form-group-element {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.form-login .form-head {
  margin: 0 auto 20px;
  width: 60%;
}

.at-form-login {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  min-height: 100%;
}

@media only screen and (max-width: 768px) {
  .form-login {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .form-login {
    width: 100%;
  }
}
.main-sidebar {
  background-color: #5AA2F0;
  width: 230px;
  height: calc(100vh - 70px);
  position: fixed;
  padding-top: 20px;
}
.main-sidebar .feather {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.main-sidebar .sidebar__links {
  height: 100%;
  overflow-y: auto;
}
.main-sidebar .sidebar__linkitem a {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-family: "Dosis-Bold";
  padding: 10px 15px;
  transition: 0.2s;
  max-height: 44px;
  color: #ffffff;
  text-transform: capitalize;
  border-left: 3px solid transparent;
}
.main-sidebar .sidebar__linkitem a:hover, .main-sidebar .sidebar__linkitem a.active {
  background-color: #2b88ec;
  border-color: #ffffff;
}
.main-sidebar .sidebar__linkitem + .sidebar__linkitem {
  border-top: 1px solid #136ed1;
}

/* Color Variables */
/* Button Variables */
/* Font Variables */
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Dosis-Regular";
}
body.home {
  background-color: #5AA2F0;
}

.site-content {
  height: 100%;
}

footer {
  background-color: #D4E2F3;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 230px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  text-transform: capitalize;
  font-family: "Dosis-Medium";
}
button:focus {
  outline: none;
}

img {
  width: 100%;
}

.btn-primary {
  background-color: #5AA2F0;
  border: 1px solid #5AA2F0;
}
.btn-primary:hover {
  background-color: #2b88ec;
  border: 1px solid #2b88ec;
}

.feather {
  margin-right: 10px;
}

.user-avtar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #D4E2F3;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
