@import "_mixins.scss";
@import "_variables.scss";

.sitemap {
  &-list {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    height: 40px;
  }

  &-item {
    text-transform: capitalize;
    padding: 0 5px;

    &+.sitemap-item {
      border-left: 1px solid $--color-primary;
    }
  }
}