@import "_mixins.scss";
@import "_variables.scss";

footer {
  padding: 0px 15px;
  position: relative;
}

.sitemap {
  &-item {
    font-size: 14px;
    padding: 0 12px;
    text-transform: capitalize;
  }
}