@import "_mixins.scss";
@import "_variables.scss";

.form-control {
  background-color: $--color-light-secondary;
  border: 1px solid $--color-light-secondary;
  transition: 0.2s;

  &:focus {
    border: 1px solid darken($--color-light-secondary, 10%);
    // border: 1px solid darken($--btn-primary, 10%);
    box-shadow: none;
    background-color: $--color-light-secondary;
  }

  &--highlight {
    color: $--color-highlight;
    font-family: $--font-semi-bold;
    font-size: 14px;

    &:focus {
      color: $--color-highlight;
    }
  }
}

.custom-form {
  @include roundedCorners(5);
  padding: 20px;

  &+.custom-form {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $--color-grey;
  }

  label {
    font-family: $--font-semi-bold;
    font-size: 14px;
    text-transform: capitalize;
  }

  .forgot-pwd {
    font-family: $--font-semi-bold;
    color: $--color-highlight;
    font-size: 14px;
    text-transform: capitalize;
  }

  .input-group-append,
  .input-group-text {
    @include roundedCorners(5);
    background-color: $--color-primary;
    font-family: $--font-semi-bold;
    color: $--color-white;
    border: none;
  }

  textarea {
    resize: none;
  }

  #fingerprintkey {
    font-family: $--font-bold;
    text-align: center;
    text-transform: uppercase;
  }
}

.form-login {
  background-color: $--color-white;
  width: 30%;
  margin: 0 auto;
  box-shadow: 2px 2px 4px rgba($--color-black, 0.25);

  .btn-login {
    width: 100%;
  }

  .form-group-element {
    @include flexbox();
    @include justify-content(space-between);
  }

  .form-head {
    margin: 0 auto 20px;
    width: 60%;
  }
}

.at-form-login {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  min-height: 100%;

  .form-control {
    background-color: $--color-secondary;
    border: 1px solid $--color-secondary;
    transition: 0.2s;

    &:focus {
      border: 1px solid darken($--color-secondary, 10%);
      // border: 1px solid darken($--btn-primary, 10%);
      box-shadow: none;
      background-color: $--color-secondary;
    }
  }
}


@media only screen and (max-width: 768px) {
  .form-login {
    width: 50%;
  }
}

@media only screen and (max-width: 576px) {
  .form-login {
    width: 100%;
  }
}