/* Color Variables */
$--color-white: #ffffff;
$--color-black: #000000;
$--color-primary: #5AA2F0;
$--color-secondary: #D4E2F3;
$--color-highlight: #E9922C;
$--color-grey: #F2EDED;
$--color-light-primary: #E5E5E5;

/* Button Variables */
$--btn-primary: #5AA2F0;
$--btn-secondary: #E9922C;

/* Font Variables */
$--font-medium: 'Dosis-Medium';
$--font-extra-bold: 'Dosis-ExtraBold';
$--font-bold: 'Dosis-Bold';
$--font-semi-bold: 'Dosis-SemiBold';
$--font-light: 'Dosis-Light';
$--font-regular: 'Dosis-Regular';
$--font-extra-light: 'Dosis-ExtraLight';