/* Color Variables */
$--color-white: #ffffff;
$--color-black: #000000;
$--color-primary: #5aa2f0;
$--color-secondary: #d4e2f3;
$--color-light-secondary: #f2f6fa;
$--color-highlight: #E9922C;
$--color-grey: #F2EDED;
$--color-light-primary: #E5E5E5;
$--color-danger: #ED0F0F;
$--color-success: #05C953;
$--color-dark-primary: #94C0F9;
/* Button Variables */
$--btn-primary: #5AA2F0;
$--btn-orange: #E9922C;
$--btn-danger: #ED0F0F;
$--btn-success: #05C953;

/* Font Variables */
$--font-medium: 'Dosis-Medium';
$--font-extra-bold: 'Dosis-ExtraBold';
$--font-bold: 'Dosis-Bold';
$--font-semi-bold: 'Dosis-SemiBold';
$--font-light: 'Dosis-Light';
$--font-regular: 'Dosis-Regular';
$--font-extra-light: 'Dosis-ExtraLight';