/* Color Variables */
$--color-white: #ffffff;
$--color-black: #000000;
$--color-primary: #5aa2f0;
$--color-secondary: #d4e2f3;
$--color-light-secondary: #f2f6fa;
$--color-highlight: #E9922C;
$--color-grey: #F2EDED;
$--color-light-primary: #E5E5E5;
$--color-danger: #ED0F0F;
$--color-success: #05C953;
$--color-dark-primary: #94C0F9;
$--color-darker-primary: #0E64C8;

/* Button Variables */
$--btn-primary: #5AA2F0;
$--btn-orange: #E9922C;
$--btn-danger: #ED0F0F;
$--btn-success: #05C953;
$--btn-dark-primary: #0E64C8;

/* Font Variables */
$--font-medium: 'Dosis-Medium';
$--font-extra-bold: 'Dosis-ExtraBold';
$--font-bold: 'Dosis-Bold';
$--font-semi-bold: 'Dosis-SemiBold';
$--font-light: 'Dosis-Light';
$--font-regular: 'Dosis-Regular';
$--font-extra-light: 'Dosis-ExtraLight';

// 8. Date + Time Picker
// ==========================================================================

$datepicker-display-font-size: 2.8rem;
$datepicker-calendar-header-color: #999;
$datepicker-weekday-color: rgba(0, 0, 0, .87) !default;
$datepicker-weekday-bg: darken($--color-primary, 7%) !default;
$datepicker-date-bg: $--color-primary !default;
$datepicker-year: rgba(255, 255, 255, .7) !default;
$datepicker-focus: rgba(0, 0, 0, .05) !default;
$datepicker-selected: $--color-primary !default;
$datepicker-selected-outfocus: desaturate(lighten($--color-primary, 35%), 15%) !default;
$datepicker-day-focus: transparentize(desaturate($--color-primary, 5%), .75) !default;
$datepicker-disabled-day-color: rgba(0, 0, 0, .3) !default;