@import "../_mixins.scss";
@import "../_variables.scss";

.sitenav {
  &__search {
    width: 30%;

    .form-group {
      margin-bottom: 0px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .sitenav {
    &__search {
      width: 50%;
    }
  }
}