@import "../_mixins.scss";
@import "../_variables.scss";

.sitenav {
  &__search {
    width: 35%;

    .form-group {
      margin-bottom: 0px;
    }

    .form-control {
      background-color: $--color-dark-primary;
      border: $--color-dark-primary;

      &:focus {
        background-color: $--color-dark-primary;
        border: $--color-dark-primary;
      }

      &::placeholder {
        /* Edge */
        color: $--color-white;
      }
    }

    .btn-search {
      line-height: 1;
    }

    .input-group-append {
      background-color: $--color-dark-primary;
      border-radius: .25rem;

      .feather {
        width: 18px;
        height: 18px;
        color: $--color-white;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .sitenav {
    &__search {
      width: 50%;
    }
  }
}