@import "_main-profile.scss";

.main-section {
  position: relative;
  background-color: $--color-white;
  width: calc(100% - 250px);
  padding-top: 70px;
  margin-left: auto;
  /*margin right 20px adjusted in calculated width*/
  margin-right: 20px;
  height: 97%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  overflow-y: auto;

  .content {
    &-head {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
      padding: 20px 15px;
      border-bottom: 1px solid $--color-grey;
    }

    &-title {
      @include flexbox();
      @include align-items(center);
      font-family: $--font-bold;
      font-size: 20px;
      line-height: 1.1;
      text-transform: capitalize;

      .feather {
        width: 20px;
        height: 20px;
      }
    }

    &-body {
      position: relative;
      padding: 20px 15px;

      &--aside {
        position: absolute;
        // height: 100vh;
        width: 180px;
      }

      &--main {
        width: calc(100% - 180px);
        padding: 0 15px;
        margin-left: auto;
      }
    }
  }

  .form-title,
  .tab-content-head .title {
    font-family: $--font-bold;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  .tab-content-head {
    @include flexbox();
    @include align-items(center);
    margin-bottom: 15px;

    .title {
      margin-bottom: 0px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-section {
    width: calc(100% - 220px);
  }
}